[submodule "Modules/EasyImagy"]
	path = Modules/EasyImagy
	url = https://github.com/koher/EasyImagy.git
[submodule "Modules/RxSwift"]
	path = Modules/RxSwift
	url = https://github.com/ReactiveX/RxSwift.git
